<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/login.css">
    <title>CulticaMarket</title>
    
</head>
<body>
    <header>
        <img src="/images/CultivaMarket-logo-solo.jpg" alt="logo_CultivaMarket" class="logo-cultivaMarkey" >
    </header>
    <section class="section-crear-cuenta">
        
        <div class="title-create-your-account">
            <h1 class="title-create-your-account">Inicia a tu cuenta ... </h1>
        </div>
        
        <div class="form-container">
            <p class="title">Bienvenidos a <br> CultivaMarket</p>

            <form class="form">
              <input type="email" class="input" placeholder="Correo">
              <input type="password" class="input" placeholder="Contraseña">
              <p class="page-link">
                <span class="page-link-label">
                    ¿Has olvidado tu contraseña?</span>
              </p>
              <button class="form-btn">Iniciar sesión </button>
            </form>
            
            <p class="sign-up-label">
               
             ¿No tienes una cuenta?<span class="sign-up-link">Regístrate</span> 
            </p>

            <div class="div-button-logo-google">
                <button class="button-logo-google">
                    <img src="/images/images-login/icons8-logo-de-google-48.png" alt="logo_gogle" class="img-logo-gogle">
                    <p> Google </p>
                </button>
                
                <button class="button-logo-google">
                    <img src="/images/images-login/icons8-facebook-48.png" alt="logo_gogle" class="img-logo-facebook">
                    <p> Facebook </p>
                </button>
            </div>

            
            
        </div>
    </section>

     <!-- <button class="button-prueba"></button> -->
</body>
</html>