<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CultivaMarket</title>
    <link rel="stylesheet" href="/style/perfil_usuario.css">
</head>
<body>
 
<body>

    <header class="ensayo-header">

    </header>
    <section class="section-perfil-usuario">

   
        <h2>Perfil de Usuario</h2>
        
        <div class="profile-picture">
            <img id="profileImage" src="/images/img-iconos/icono_perfil.png" alt="Imagen de Perfil">
            <input type="file" id="imageInput" style="display: none;" accept="image/*">
            <button id="changeImageBtn">Cambiar Imagen</button>
        </div>

       
    </section>
<script src="/js/perfil_usuario.js"></script>
</body>
</html>